<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stockmangmentnew">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Wifidongle_activity"></activity>
        <activity android:name=".Router_activity" />
        <activity android:name=".Printer_activity" />
        <activity android:name=".Switches_activity" />
        <activity android:name=".Cables_activity" />
        <activity android:name=".RAM_activity" />
        <activity android:name=".Monitor_activity" />
        <activity android:name=".Mouse_activity" />
        <activity android:name=".Keyboard_activity" />
        <activity android:name=".UPS_activity" />
        <activity android:name=".Services.StockIn.stock_in" />
        <activity
            android:name=".LoginModule.LoginPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />
            </intent-filter>
        </activity>
        <activity android:name=".Services.StockOut.Damage" />
        <activity android:name=".Services.StockOut.Return" />
        <activity android:name=".Services.StockIn.Stock_IN_View" />
        <activity android:name=".Services.StockOut.Stock_Out_View" />
        <activity android:name=".Services.StockOut.stock_OUT" />
        <activity android:name=".customer_List" />
        <activity android:name=".supplier_List" />
        <activity android:name=".Services.Items.view_item" />
        <activity android:name=".Services.Items.Add_Item" />
        <activity android:name=".LoginModule.sign_UP" />
        <activity android:name=".LoginModule.new_password" />
        <activity android:name=".LoginModule.otp_page" />
        <activity android:name=".LoginModule.ForgetPassword" />
        <activity
            android:name=".QRcodeModule.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.QRcodeModule.MainActivity" />
            </intent-filter>
        </activity>
    </application>

</manifest>