<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stockmangmentnew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Damage"></activity>
        <activity android:name=".Return" />
        <activity android:name=".IN_View" />
        <activity android:name=".Stock_Out_View" />
        <activity android:name=".stock_OUT" />
        <activity android:name=".customer_List" />
        <activity android:name=".supplier_List" />
        <activity android:name=".view_item" />
        <activity android:name=".Add_Item" />
        <activity android:name=".sign_UP" />
        <activity android:name=".new_password" />
        <activity android:name=".otp_page" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".Loginpg" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>